<html ng-app="countryApp">
<head>
	<meta charset="utf-8">
	<title>Carga de un JSON</title>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
	<script>
		var countryApp = angular.module('countryApp', []);
		countryApp.controller('CountryCtrl', function ($scope, $http){
			//Carga del fichero JSON
			$http.get('countries.json').success(function(data) {
				$scope.countries = data;
			});
			//Por defecto ordena por el campo nombre en sentido A-Z
			$scope.sortField = 'name';
			$scope.reverse = false;
		});
	</script>
</head>
<body ng-controller="CountryCtrl">
Search:<input ng-model="query" type="text"/>
<table>
<tr>
<!--Al hacer clic en los encabezados de la tabla, cambia el campo y el criterio de ordenación, A-Z y Z-A-->
<th><a href="" ng-click="sortField ='name'; reverse = !reverse">Country</a></th>
<th><a href="" ng-click="sortField = 'population'; reverse = !reverse">Population</a></th>
</tr>
<!--Esto actúa como un bucle, generando una fila en la tabla para cada entidad del JSON-->
<tr ng-repeat="country in countries  | filter:query| orderBy:sortField:reverse">
<td>{{country.name}}</td>
<td>{{country.population | number }}</td><!--Formateamos como número el campo población-->
</tr>
</table>
</body>
</html>